 <footer>
      <div class="container-fluid">
        <div class="row footer">
          <div class="col pb-3 pt-3 ">
            <i class="fa fa-pen d-flex justify-content-end " title="Editar Pie de página"routerLink="/iniciar-sesion"></i>
            <p class="text-center">
              Juan Soria - Argentina Programa - 2022<br>
              Buenos Aires, Argentina
              <img src="../../../assets/bandera-ar.png" class="img-fluid bandera"/>
            </p>
          </div>
        </div>
      </div>
</footer>