
.footer{ 
    min-width:auto; 
    color: #bbb;
    border-top: 2px solid #92d2c2;
    height: 6rem;
    line-height: .1rem; 
    background-color:#052d4f;   
}

.footer i{
    position: relative;
    top: .6rem;
    right: 1vw;
    display: grid;
    justify-items: end;
}

.fa.fa-pen{
    font-size:medium;
    color:rgba(255,255,255,.5);
    cursor: pointer;
  }

p{
    margin-top: 1rem;
    font-size: 14px;
    letter-spacing: .1rem;
    line-height: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 2px black;
}
.bandera {
 width: 1.3rem;
 margin-left: .7rem;
}

@media (max-width:576px) {
    .row{
        display: flex;
        justify-content: center;
        height: 5rem;
        line-height: 2.1rem;
    }

    p{
        font-size: 1.1rem;
    }
}