.footer{
    color: #bbb;
    border-top: 2px solid #92d2c2; 
    background-color:#052d4f;   
}

.footer i{    
    top: .6rem;
    right: 1rem;
}


.fa.fa-pen{
    font-size:smaller;
    color:rgba(255,255,255,.5);
    cursor: pointer;
  }

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    text-shadow: 1px 1px 2px black;
}

.bandera {
    width: 1rem;
}

@media (max-width:576px) {   
    p{
        font-size: 1.1rem;
        font-family: Arial, Helvetica, sans-serif;
    }
}