<div class="container">
  <div class="row">
    <div class="principal"><h3>HABILIDADES</h3><i class="fa fa-pen" title="Editar Habilidades" routerLink="/iniciar-sesion"></i></div>
    <!-- tarjeta inicio -->
    <div class="col-lg-3 col-md-3 col-sm-5 col-xs-5 html">
      <div class="card">
        <div class="percent" style="--clr: #04fc43; --num: 85">
          <div class="dot"></div>
          <svg>
            <circle cx="70" cy="70" r="70"></circle>
            <circle cx="70" cy="70" r="70"></circle>
          </svg>
          <div class="number">
            <img src="../../../assets/HTML5_Logo.png" />
          </div>
        </div>
      </div>      
    </div>
    <!-- tarjeta fin -->

    <!-- tarjeta inicio -->
    <div class="col-lg-3 col-md-3 col-sm-5 col-xs-5 html">
      <div class="card">
        <div class="percent" style="--clr: #04fcf3; --num: 75">
          <div class="dot"></div>
          <svg>
            <circle cx="70" cy="70" r="70"></circle>
            <circle cx="70" cy="70" r="70"></circle>
          </svg>
          <div class="number">
            <img src="../../../assets/CSS-logo.png" />
          </div>
        </div>
      </div>      
    </div>
    <!-- tarjeta fin -->

    <!-- tarjeta inicio -->
    <div class="col-lg-3 col-md-3 col-sm-5 col-xs-5 html">
      <div class="card">
        <div class="percent" style="--clr: #dd0043; --num: 40">
          <div class="dot"></div>
          <svg>
            <circle cx="70" cy="70" r="70"></circle>
            <circle cx="70" cy="70" r="70"></circle>
          </svg>
          <div class="number">
            <img src="../../../assets/javascript-logo.jpg" />
          </div>
        </div>
      </div>      
    </div>
    <!-- tarjeta fin -->

    <!-- tarjeta inicio -->
    <div class="col-lg-3 col-md-3 col-sm-5 col-xs-5 html">
      <div class="card">
        <div class="percent" style="--clr: #f4fc43; --num: 65">
          <div class="dot"></div>
          <svg>
            <circle cx="70" cy="70" r="70"></circle>
            <circle cx="70" cy="70" r="70"></circle>
          </svg>
          <div class="number">
            <img src="../../../assets/bootstrap-logo.png" />
          </div>
        </div>
      </div>      
    </div>
    <!-- tarjeta fin -->

    <!-- tarjeta inicio -->
    <div class="col-lg-3 col-md-3 col-sm-5 col-xs-5 html">
      <div class="card">
        <div class="percent" style="--clr: #ffaaa3; --num: 45">
          <div class="dot"></div>
          <svg>
            <circle cx="70" cy="70" r="70"></circle>
            <circle cx="70" cy="70" r="70"></circle>
          </svg>
          <div class="number">
            <img src="../../../assets/TS-logo.png" />
          </div>
        </div>
      </div>      
    </div>
    <!-- tarjeta fin -->

    <!-- tarjeta inicio -->
    <div class="col-lg-3 col-md-3 col-sm-5 col-xs-5 html">
      <div class="card">
        <div class="percent" style="--clr: #a4fcd3; --num: 55">
          <div class="dot"></div>
          <svg>
            <circle cx="70" cy="70" r="70"></circle>
            <circle cx="70" cy="70" r="70"></circle>
          </svg>
          <div class="number">
            <img src="../../../assets/angular.png" />
          </div>
        </div>
      </div>      
    </div>
    <!-- tarjeta fin -->

    <!-- tarjeta inicio -->
    <div class="col-lg-3 col-md-3 col-sm-5 col-xs-5 html">
      <div class="card">
        <div class="percent" style="--clr: #00ccf3; --num: 70">
          <div class="dot"></div>
          <svg>
            <circle cx="70" cy="70" r="70"></circle>
            <circle cx="70" cy="70" r="70"></circle>
          </svg>
          <div class="number">
            <img src="../../../assets/github-375.png" />
          </div>
        </div>
      </div>      
    </div>
    <!-- tarjeta fin -->

    <!-- tarjeta inicio -->
    <div class="col-lg-3 col-md-3 col-sm-5 col-xs-5 html">
      <div class="card">
        <div class="percent" style="--clr: #ffaad3; --num: 45">
          <div class="dot"></div>
          <svg>
            <circle cx="70" cy="70" r="70"></circle>
            <circle cx="70" cy="70" r="70"></circle>
          </svg>
          <div class="number">
            <img src="../../../assets/java-logo.png" />
          </div>
        </div>
      </div>      
    </div>
    <!-- tarjeta fin -->

    <!-- tarjeta inicio -->
    <div class="col-lg-3 col-md-3 col-sm-5 col-xs-5 html">
      <div class="card">
        <div class="percent" style="--clr: #d4fc43; --num: 35">
          <div class="dot"></div>
          <svg>
            <circle cx="70" cy="70" r="70"></circle>
            <circle cx="70" cy="70" r="70"></circle>
          </svg>
          <div class="number">
            <img src="../../../assets/spring-boot-logo.png" />
          </div>
        </div>
      </div>      
    </div>
    <!-- tarjeta fin -->

    <!-- tarjeta inicio -->
    <div class="col-lg-3 col-md-3 col-sm-5 col-xs-5 html">
      <div class="card">
        <div class="percent" style="--clr: #a443a3; --num: 85">
          <div class="dot"></div>
          <svg>
            <circle cx="70" cy="70" r="70"></circle>
            <circle cx="70" cy="70" r="70"></circle>
          </svg>
          <div class="number">
            <img src="../../../assets/grupal.png" />
          </div>
        </div>
      </div>
    </div>  
    <!-- tarjeta fin -->
    
    <!-- tarjeta inicio -->
    <div class="col-lg-3 col-md-3 col-sm-5 col-xs-5 html">
      <div class="card">
        <div class="percent" style="--clr: #d41143; --num: 60">
          <div class="dot"></div>
          <svg>
            <circle cx="70" cy="70" r="70"></circle>
            <circle cx="70" cy="70" r="70"></circle>
          </svg>
          <div class="number">
            <img src="../../../assets/ingles.png" />
          </div>
        </div>
      </div>
    </div>
<!-- tarjeta fin -->

  </div>
</div>
