<div class="container-fluid text-center redes">
  
  <div class="row">
    <div class=" d-flex justify-content-between cabecera">
      <h3 class="contactos">CONTACTOS</h3>
      <i routerLink="/portfolio" class="fa-solid fa-circle-chevron-left" title="Regresar"></i>      
    </div>
    
    <div class="col-md-2 col-sm-12 col-xs-12 text-center">
      <img src="../../../assets/correo.png" class="img-fluid" />
    </div>

    <div class="col-md-10 col-sm-12 col-xs-12">
      <img src="../../../assets/email_7.png" class="img-fluid email-img" />
    </div>
    <br>
    
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-12 col-xs-12  text-center">
      <img src="../../../assets/github-375.png" class="img-fluid" />
    </div>

    <div class="col-md-10 col-sm-12 col-xs-12 text-start enlace">
      <a href="https://github.com/JuanCSoria/" rel="noopener noreferrer" target="_blank" >Github</a>    
    </div>
    <br>
  </div>

  <div class="row">
    <div class="col-md-2 col-sm-12 col-xs-12">
      <img src="../../../assets/linkedin-logo.png"  class="img-fluid"/>
    </div>

    <div class="col-md-10 col-sm-12 col-xs-12 text-start enlace">
     <a href="https://www.linkedin.com/in/juan-soria-74329026b/" rel="noopener noreferrer" target="_blank">Linkedin</a>     
    </div>
    <br>
  </div>
    
</div>
