<div class="container-fluid">
  <h1>MIS CONTACTOS</h1>
  <div class="row">
    <div class="col-lg-2 col-md-10 col-sm-12 col-xs-12 ">
      <img src="../../../assets/correo.png" class="img-fluid align-item-center" />
    </div>

    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
      <img src="../../../assets/email_7.png" class="img-fluid email3" />
    </div>
    <br>
    
  </div>
  <div class="row">
    <div class="col-lg-2 col-sm-12 col-xs-12">
      <img src="../../../assets/github-375.png" class="img-fluid" />
    </div>

    <div class="col-lg-10 col-sm-12 col-xs-12 enlace">
      <a href="https://github.com/JuanCSoria/" rel="noopener noreferrer" target="_blank" >Github</a>    
    </div>
    <br>
  </div>

  <div class="row">
    <div class="col-lg-2 col-sm-12 col-xs-12">
      <img src="../../../assets/linkedin-logo.png"  class="img-fluid"/>
    </div>

    <div class="col-lg-10 col-sm-12 col-xs-12 enlace">
     <a href="https://www.linkedin.com/in/juan-soria-74329026b/" rel="noopener noreferrer" target="_blank">Linkedin</a>     
    </div>
    <br>
  </div>
  
</div>
