
.redes {  
  min-height: 100vh;
  padding-bottom: 3rem;
  background-image: linear-gradient(to right, #568588,#779966,#226886);
  background: url(../../../assets/Tierra_hd_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;    
}

.redes .contactos {
  padding: 3rem;
  color: #92d2ca;
  text-align: center;
  font-weight: 800;
  padding-bottom: 2rem;
}

.redes img {
  width: 4rem;
}

.redes .email-img {
  display: flex;
  justify-content: flex-start;
  min-width: 30rem;
  margin-bottom: 3rem;
}

.enlace {
  margin-bottom: 3rem;
  color: #92d2ca;
  font-size: 2.1rem;
  font-weight: bold;
}

a{
  max-width: fit-content;
  max-height: fit-content;
  color: #92d2ca;
  text-decoration: none;
}

a:hover{
  font-size: 2rem;
  color:cyan;
  transition: .2s ease;
}

.fa-solid.fa-circle-chevron-left{
    margin-top: 3rem;
    margin-right: 2rem;  
    font-size: 2rem;
    color: #92d2ca;
    cursor: pointer;
    opacity:.6;
    transition: .5s ease;
}
.fa-solid.fa-circle-chevron-left:hover{
  opacity:1;

}

@media (max-width:576px) {
  .contactos {
    padding: 3rem;
    color: #92d2ca;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Arial Narrow Bold';
    font-size: 2.5rem;
    font-weight: 900;
    text-shadow: 1px 1px 3px black;
  }

  .redes img{
    margin-top: 2rem;
    width: 4rem;
    height: 4rem;
  }

  .redes .email-img{
    display: flex;
    justify-content: center;
    min-width: 3rem;
  }

  a{
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  a:hover{
    font-size: 2.55rem;
  }
}

@media (max-width:768px) {

  .contactos {
    padding: 3rem;
    color: #92d2ca;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Arial Narrow Bold';
    font-size: 2.5rem;
    font-weight: 900;
    text-shadow: 1px 1px 3px black;
  }
  .enlace{
    display: flex;
    justify-content:center;
    text-align: center;
  }

  a{
    font-size: 2.5rem;    
  }

  a:hover{
    font-size: 2.55rem;
  }

  .redes .email-img{
    min-width: 25rem;
    display: flex;
    justify-content: center;
  }


}
