.container-fluid {
  max-width: 100%;
  min-height: 100vh;
  background-color: #717187;
  background: url(../../../assets/Tierra_hd_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  padding: 3rem;
  color: #92d2ca;
  text-align: center;
  font-weight: 800;
}

img {
  margin-top: 20px;
  margin-left: 30px;
  width: 4rem;
}

.email3 {
  margin: 30px 0 0 0;
  width: 35rem;
  align-content: center;
}
.enlace {
  margin-top: 40px;
  color: #92d2ca;
  font-size: 22px;
  font-weight: bold;
  text-align: left;
}

a{
  color: #92d2ca;
  text-decoration: none;
}

a:hover{
  font-size: 24px;
  color:cyan;
  transition: .2s;
}

@media (max-width:676px) {
  h1 {
    padding: 3rem;
    color: #92d2ca;
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
  }

  img{
    width: 150px;
    margin-left: 33%;
  }

  .email3 {
    width: 40rem;
    align-content: center;
  }

  a, a:hover{
    display: flex;
    justify-content: center;
    font-size: 3rem;    
  }


}
