#inicio{
    /* display: none; */
    position: fixed;
    bottom: 20px;
    right: 50px;
    z-index: 101;
    transition: .5s ease-in-out;
}

#inicio:hover{
    cursor: pointer;
    opacity: .7;
}

.fa-circle-chevron-up{
    font-size: 3rem;
    color:#5f9aaa;
    background: azure;
    border-radius: 50%;
}

