#inicio{
    /* display: none; */
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 70px;
    z-index: 100;
    transition: .5s ease-in-out;
}

#inicio:hover{
    cursor: pointer;
    opacity: .7;
}

.fa-circle-chevron-up{
    font-size: 3rem;
    color:#5f9aaa;
    background: azure;
    border-radius: 50%;
}

.oculto{
    display: none;
 }

 .visible{
    display: block;
 }    
