#inicio{
    position: fixed;
    width: 2.5rem;
    height: 2.5rem;
    bottom: 2rem;
    right: 2rem;
    z-index: 100;
    opacity: .6;
    transition: .5s ease-in-out;
}

#inicio:hover{
    cursor: pointer;
    opacity: 1;
}

.fa-circle-chevron-up{
    font-size: 2.2rem;
    color:#5f9aaa;
    background: azure;
    border-radius: 50%;
}

.oculto{
    display: none;
 }

 .visible{
    display: block;
 }    

 @media (max-width:576px) {   
    .fa-circle-chevron-up{
        font-size: 3rem;
    }
}