.container{
  color: aliceblue;
  background: #717187;
  border-radius: 1rem;
  margin-bottom: 0.5rem;  
  min-width:98%;
   /*se ajusta a pantallas mayores de 1366px */
}

.row{
  padding-bottom: 3rem;  
}

.principal{
  display: flex;
  justify-content: space-between;
}

.principal i{
  position: relative;
  width: 1rem;
  height: 1rem;
  top: 1rem;
  right: 1rem;
}

h3 {
  margin: 20px 0 20px 15px;
  font-weight: bold;
  text-shadow: 1px 1px 2px #000;
}

.fa.fa-pen{
  font-size:smaller;
  color:rgba(255,255,255,.5);
  cursor: pointer;
}

img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  width:25%;
  margin-bottom: 2rem;  
}

.ap img {
  width: 75%;
}

.ti img{
  width: 75%;
}

hr{
  color: #000;
}

@media (max-width: 576px){
  h3{
    font-size: 2em;
  }

  h5{
    font-size: 1.7rem;
  }
  p{
    font-size: 1.2rem;
  }
    
}
  

