<div class="container">
    <div class="row">
        <div><h3>EDUCACIÓN</h3></div>
    <!-- fila con imagen y dato de estudio -->

        <div class="row"> 
        <!-- imagen -->
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <div><img src="../../../assets/INTI.png" alt="Imagen nº1"></div>
            </div>
        <!-- Dato de estudio cursado -->
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 text-start">
                <div><h5>Desarrollo Web</h5></div>
                <div><p>Yo#programo - 3ra edición - 2022- Argentina Programa</p></div>
            </div>
        </div>      
         
    </div>
  
  
  
  </div>
