<div class="container">
  <div class="row">
    <div class="principal"><h3>EDUCACIÓN</h3><i class="fa fa-pen" title="Editar Educación" routerLink="/iniciar-sesion"></i></div>
 <!-- fila con imagen y dato de estudio -->
    <div class="row">
      <!-- imagen -->
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 ap">
        <div><img src="../../../assets/APLogo1.png" alt="Imagen1" class="img-fluid"/></div>
      </div>
      <!-- Dato de estudio cursado -->
      <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 text-start">
        <div><h5>Desarrollo Web</h5></div>
        <div><p>#Yo programo - Argentina Programa - 2022.</p></div>
      </div>
    </div>
<!-- fila con imagen y dato de estudio final-->
    <hr>
<!-- fila con imagen y dato de estudio -->
    <div class="row">
      <!-- imagen -->
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 ti">
        <div><img src="../../../assets/logos CUI 30.png" alt="Imagen2" class="img-fluid"/></div>
      </div>
      <!-- Dato de estudio cursado -->
      <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 text-start">
        <div><h5>Inglés IT</h5></div>
        <div><p>Inglés técnico para desarrolladores de sofware. Argentina Programa 4.0 - Centro Universitario de Idiomas - 2023.</p></div>
      </div>
    </div>
<!-- fila con imagen y dato de estudio final-->
  </div>
</div>
