.container {
  background: #717187;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}
.row{
  padding-bottom: 2rem;
  
}

img {
  display: flex;
  justify-content: center;
  margin-left: 10px;
  width:75%;  
}

h3 {
  margin: 20px 0 20px 15px;
  font-weight: bold;
  text-shadow: 1px 1px 2px #000;
}

.ti{
  width: 25%;
}

hr{
  color: #000;
}
