.container{
    background: #717187;
    border-radius: 1rem;
    margin-bottom: .5rem;
}

img{
    margin-left: 10px;
    width: 2.5rem;
}

h3{
    margin: 20px 0 20px 15px;
    font-weight: bold;
<<<<<<< HEAD
    text-shadow: 1px 1px 2px #000;
=======
>>>>>>> a9918f0d90c33674bf2c48304d3b7feea1201c76
    
}