  <div class="container">
  <h1>INICIAR SESIÓN</h1>
  <form class="m-5">
    <div class="mb-3">
      <label class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="Email"
      />
    </div>
    <div class="mb-3">
      <label class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="Password" />
    </div>

    <button type="submit" class="btn btn-outline-success" onclick="login()">Enviar</button>
  </form>
</div>
