.container {
  background: #717187;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}

/* Título proyectos */
h3 {
  margin: 20px 0 20px 15px;
  font-weight: bold;
  text-shadow: 1px 1px 2px #000;
}
/* Miniaturas de proyectos */
img {
  margin-left: 20px;
  width: 200px;
  height: auto;
}

h5 {
  margin-left: 15px;
}
.titulo {
  color: aquamarine;
}
