<div class="container">
    <div class="row">
        <div class="principal"><h3>PROYECTOS</h3><i class="fa fa-pen" title="Editar Proyectos" routerLink="/iniciar-sesion"></i></div>
       <!--fila con imagen y descripción  -->
       <div class="row">
        <h5 class="titulo">Cálculo de resistencia paralela desconocida.</h5>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" >
                <a href="../../../assets/Resistencias_paralelo.jpg"><img src="../../../assets/Resistencias_paralelo.jpg" alt="Resistencia incongnita" class="img-fluid" ></a>
            </div>    
            <div class="colcol-lg-6 col-md-6 col-sm-12 col-xs-12 text-break text-start">
                <p class="subtitulo">Aplicación realizada en JAVA - <span>(En desarrollo)</span></p>
                 <p class="desc">Muestra el valor de resistencia necesario para obtener el valor deseado.</p>
            </div>
            
        </div>    
        <hr>
        <div class="row">
            <h5 class="titulo">Mi Yagi</h5>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" >
                    <a href="../../../assets/app_Mi_Yagi8.png"><img src="../../../assets/app_Mi_Yagi8.png" alt="Yagi" class="img-fluid"></a>
                </div>    
                <div class="colcol-lg-6 col-md-6 col-sm-12 col-xs-12 text-break text-start">
                    <p class="subtitulo">Aplicación realizada en JAVA - <span>(En desarrollo)</span></p>
                     <p class="desc">Contruyo mi antena Yagi especificando frecuencia de trabajo y ganancia deseada.</p>
                </div>
                
            </div>   
    </div>
 
</div>
