.container {
  background: #717187;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
  color: aliceblue;
  min-width:98%;/* se ajusta a pantallas mayores de 1366px */
}

/* Título proyectos */
h3 {
  margin: 20px 0 20px 15px;
  font-weight: bold;
  text-shadow: 1px 1px 2px #000;
}
/* Miniaturas de proyectos */
img {
  margin-left: 20px;
  width: 200px;
  height: auto;
}

.titulo {
  margin-left: 15px;
  color:#f8ffb8 ;
  text-shadow: 1px 1px 0 #000;
}

.subtitulo{
  font-size: .8em;
}

p{
  text-shadow: 1px 1px 2px #000;
}

span{
  text-shadow: none;
  color:rgba(255,255,255,.5);
}

@media (max-width: 576px){

  h3{
    font-size: 2em;
  }
  .titulo{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2em;
  }

  .subtitulo{
    font-size: 1.2em;
  }

  .row a img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    
  }

  p{
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    
  }
  
}
  
