<div class="col-lg-12 col-md-12 col-sd-12 col-xs-12" >
  <img src="../../../../assets/Tierrahd_3.jpg" alt="" class="img-fluid" />
  <div class="menu">
    <input type="checkbox" name="check" id="check" />
    <section>
      <div class="navbar">
        <ol class="menuitems">
          <li class="botons"><a href="#">Inicio</a></li>
          <li class="botons"><a href="#">Sobre mi</a></li>
          <li><a href="#">Experiencia</a></li>
          <li><a href="#">Educación</a></li>
          <li><a href="#">Habilidades</a></li>
          <li><a href="#">Proyectos</a></li>          
          <li>
            <div class="botons">
              <hr>              
              <li><a href="#">Contacto</a></li>
              <br />
              <li><a href="#">Login</a></li>
            </div>
          </li>
        </ol>

        <label for="check">M</label>
      </div>
    </section>
  </div>
</div>
