<div class="col-lg-12 col-md-12 col-sd-12 col-xs-12" >
  <div class="ebanner">
    <img src="../../../../assets/Tierrahd_3.jpg" class="img-fluid" />
    <div class="esfera"></div><!-- esfera flotante -->
    <a routerLink="/iniciar-sesion">
       <i class="fa fa-pen" title="Editar Banner"></i>
    </a>
  
  <div class="menu">
    <input type="checkbox" name="check" id="check"/>
    <section>
      <div class="navbar">
        
        <ol class="menuitems">
          <li><a routerLink="/inicio">Inicio</a></li>
          <li><a routerLink="/perfil">Sobre mi</a></li>
          <li><a routerLink="/enlaceexperiencia">Experiencia</a></li>
          <li><a routerLink="/enlaceeducacion">Educación</a></li>
          <li><a routerLink="/enlacehabilidades">Habilidades</a></li>
          <li><a routerLink="/enlaceproyectos">Proyectos</a></li>          
          <li>            
            <div class="botones">
              <hr>                            
              <li><a routerLink="/contacto">Contacto</a></li>
              <li><a routerLink="/iniciar-sesion">Iniciar Sesión</a></li>
            </div>
          </li>
        </ol>
        <label for="check"><img src="../../../assets/menu_lineas_transparentes-borde.png" alt="menú hamburguesa"></label>
      </div>
    </section>
    </div>
  </div>
</div>
