<div class="container">
  <div class="row">
      <div><h3 id="exp">EXPERIENCIA</h3></div>
<!-- fila con imagen y dato -->
      <div class="row">
<!-- imagen -->
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 text-center">
                  <div><img src="../../../favicon.ico" alt="Imagen_1"></div>
            </div>
<!-- dato de experiencia -->
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 text-start">
                  <div><h5>Portafolio Personal</h5></div>
                  <div><p>Aplicación web creada en 2022 utilizando diferentes tecnologías.</p></div>
            </div>
      </div>
   </div>
</div>
