.botones{
        display:inline-flex;
        margin-right: 1rem;
        margin-top: .8rem;
        }  
      

button{ display: flex;
        justify-content: center;
        color:#92d2ca;
        border-color: #92d2ca;
        margin-left: 10px;
}  

button:hover{
        color: #335;
        font-weight: bolder;
        background: #92d2ca;
        transition: .2s;
}

a{
      text-decoration: none;

}