div{
    padding-top: .6rem;
    padding-left: 1rem;
    width: fit-content;
    display: flex;
    align-items: center;  
    justify-content: center;
    cursor: pointer;
}

div img{
    width: 8rem;    
}

div img:hover{
    transform: translateX(5px);
    transition: .3s;
}


@media (max-width:576px) {
    div a img{
        width:9rem;
    }
}