
<div class="container-fluid perfil">
  <div class="row">
    <!-- <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12"></div> -->

    <!---------- Imagen de perfil ------->
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center" id="imagenPerfil">
      <img
        class="rounded-circle img-fluid mx-auto" src="../../../assets/fotoperfil.jpg"        
        alt="Imagen perfil"/>
        <div><i class="fa fa-pen" title="Editar perfil" routerLink="/iniciar-sesion"></i></div>

      <!--------- Nombre y título ------->
      <div class="epigrafe">
          <h2 id="nombre">Juan Soria</h2>
          <h5 id="titulo">Full Stack Developer Jr.</h5>
      </div>    
    </div>
    <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
    <!--------- Descripción ----------->
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center acercademi">
      <h6>SOBRE MÍ</h6>
      <p class="text-break text-start" id="acercaDe">Admirador de la tecnología e interesado por saber cómo funcionan las cosas. Aprender lo que se pueda todo el tiempo es uno de mis objetivos.</p>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
  </div>
</div>
